body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

nav {
    background-color: gray;
    padding: 1px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}  

li {
    margin: 0 15px 0px 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
}