body {
    background-color: aquamarine;
}

main {
    max-width: 1030px;
    background-color: bisque;
    justify-content: space-evenly;
    margin: 0 auto;
}
h1 {
    display: flex;
    justify-content: center;
}

img {
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 900px) {
    main {
        max-width: 600px;
        background-color: bisque;
        justify-content: space-evenly;
    }
}