body {
    font-family: sans-serif;
    font-size: 0.85rem;
}

ol {
    display: flex;
    flex-direction: column;
}

li {
    border: 1px solid blue;
    background-color: lightblue;
    padding: 8px;
    max-width: fit-content;
    min-width: 50%;
    margin: 4px;
    border-radius: 2em;
}

li i {
    color: red;
    font-size: 19px;
    float: right;
    cursor: pointer;
}
